body {
	margin: 0px; padding: 0px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);
}
.share-bar-btn td {
	border-bottom-color: rgb(242, 242, 242); border-bottom-width: 1px; border-bottom-style: solid;
}
.share-bar-btn a {
	background: url("http://pubimage.360doc.com/wz/sharepic1.gif") no-repeat !important; margin: 0px !important; padding: 0px !important; width: 90px !important; height: 16px !important; line-height: 16px; font-size: 12px; float: left; display: block;
}
.share-bar-btn a {
	color: rgb(61, 107, 167);
}
.share-bar-btn a.active {
	color: rgb(61, 107, 167);
}
.share-bar-btn a:hover {
	color: rgb(61, 107, 167); text-decoration: none;
}
.share-bar-btn span {
	color: rgb(153, 153, 153); line-height: 28px; float: left;
}
.share-bar-btn .bds_qzone {
	font-family: Arial;
}
.share-bar-btn a.bds_qzone:hover {
	opacity: 1 !important;
}
.share-bar-btn .bds_sqq {
	background-position: 0px -128px !important; font-family: Arial;
}
.share-bar-btn a.bds_sqq:hover {
	background-position: 0px -128px !important; opacity: 1 !important;
}
.share-bar-btn .bds_tsina {
	background-position: 0px -16px !important; font-family: Arial;
}
.share-bar-btn a.bds_tsina:hover {
	background-position: 0px -16px !important; opacity: 1 !important;
}
.share-bar-btn .bds_tqq {
	background-position: 0px -32px !important; font-family: Arial;
}
.share-bar-btn a.bds_tqq:hover {
	background-position: 0px -32px !important; opacity: 1 !important;
}
.share-bar-btn .bds_renren {
	background-position: 0px -48px !important; font-family: Arial;
}
.share-bar-btn a.bds_renren:hover {
	background-position: 0px -48px !important; opacity: 1 !important;
}
.share-bar-btn .bds_kaixin001 {
	background-position: 0px -64px !important; font-family: Arial;
}
.share-bar-btn a.bds_kaixin001:hover {
	background-position: 0px -64px !important; opacity: 1 !important;
}
.share-bar-btn .bds_tsohu {
	background-position: 0px -80px !important; font-family: Arial;
}
.share-bar-btn a.bds_tsohu:hover {
	background-position: 0px -80px !important; opacity: 1 !important;
}
.share-bar-btn .bds_py {
	background: url("http://pubimage.360doc.com/wz/sharepic2.gif") no-repeat 0px -96px !important; width: 90px; height: 16px; line-height: 16px; font-family: Arial; font-size: 12px;
}
.share-bar-btn a.bds_py:hover {
	opacity: 1 !important;
}
.share-bar-btn .bds_jubao {
	background: url("http://pubimage.360doc.com/wz/sharepic1.gif") no-repeat 0px -112px !important; width: 90px; height: 16px; line-height: 16px; font-family: Arial; font-size: 12px;
}
.share-bar-btn a.bds_jubao:hover {
	background-position: 0px -112px !important; opacity: 1 !important;
}
.share-bar-btn2 a {
	background: url("http://pubimage.360doc.com/wz/sharepic1a.gif") no-repeat !important; margin: 0px !important; padding: 0px !important; width: 22px !important; height: 16px !important; float: left; display: block;
}
.share-bar-btn2 span {
	color: rgb(153, 153, 153); line-height: 28px; float: left;
}
.share-bar-btn2 .bds_qzone {
	
}
.share-bar-btn2 a.bds_qzone:hover {
	opacity: 1 !important;
}
.share-bar-btn2 .bds_sqq {
	background-position: 0px -144px !important;
}
.share-bar-btn2 a.bds_sqq:hover {
	background-position: 0px -144px !important; opacity: 1 !important;
}
.share-bar-btn2 .bds_tsina {
	background-position: 0px -16px !important;
}
.share-bar-btn2 a.bds_tsina:hover {
	background-position: 0px -16px !important; opacity: 1 !important;
}
.share-bar-btn2 .bds_tqq {
	background-position: 0px -32px !important;
}
.share-bar-btn2 a.bds_tqq:hover {
	background-position: 0px -32px !important; opacity: 1 !important;
}
.share-bar-btn2 .bds_renren {
	background-position: 0px -48px !important;
}
.share-bar-btn2 a.bds_renren:hover {
	background-position: 0px -48px !important; opacity: 1 !important;
}
.share-bar-btn2 .bds_kaixin001 {
	background-position: 0px -64px !important;
}
.share-bar-btn2 .bds_tsohu {
	background-position: 0px -80px !important;
}
.share-bar-btn2 a.bds_tsohu:hover {
	background-position: 0px -80px !important; opacity: 1 !important;
}
img {
	border: 0px currentColor;
}
ul {
	margin: 0px; padding: 0px; list-style-type: none;
}
li {
	margin: 0px; padding: 0px;
}
.lf360 {
	float: left;
}
.rt360 {
	float: right;
}
.both {
	clear: both;
}
a:link {
	color: rgb(61, 107, 167); text-decoration: none;
}
a:visited {
	color: rgb(61, 107, 167); text-decoration: none;
}
a:hover {
	color: rgb(61, 107, 167); text-decoration: underline;
}
.list {
	
}
.list a:link {
	color: rgb(59, 110, 167); text-decoration: none;
}
.list a:visited {
	color: rgb(59, 110, 167); text-decoration: none;
}
.list a:hover {
	color: rgb(59, 110, 167); text-decoration: underline;
}
.mainbj {
	width: 100%; background-color: rgb(255, 255, 255);
}
.mainbj1 {
	width: 100%; background-color: rgb(231, 244, 253);
}
.mainbj2 {
	width: 100%; background-color: rgb(245, 241, 230);
}
.mainbj3 {
	width: 100%; background-color: rgb(234, 232, 246);
}
.mainbj4 {
	width: 100%; background-color: rgb(254, 245, 240);
}
.mainbj5 {
	width: 100%; background-color: rgb(235, 244, 239);
}
.wz1 {
	font-size: 14px;
}
.wz2 {
	font-size: 16px;
}
.wz3 {
	font-size: 18px;
}
.lswzbox {
	padding: 5px 26px 0px; width: 670px;
}
.mainzt {
	margin: 0px auto; width: 997px;
}
.biaoti {
	padding: 30px 26px 22px; color: rgb(61, 107, 167);
}
.biaoti2 {
	font-size: 22px; font-weight: bold;
}
.wenzhangcss {
	padding: 0px 26px; height: auto !important; color: rgb(68, 68, 68); line-height: 1.5; font-size: 16px; -ms-word-wrap: break-word; min-height: 245px; _word-wrap: normal;
}
.xiantao {
	font: 0px/normal Arial; width: 100%; height: 2px; font-size-adjust: none; font-stretch: normal; background-color: rgb(222, 231, 226); _height: 2px;
}
.xianhua {
	height: 39px; color: rgb(51, 51, 51); line-height: 39px; font-size: 12px; font-weight: bold;
}
.shangyp {
	height: 24px; text-align: left; clear: both;
}
.modlist {
	text-align: left; padding-top: 3px; font-size: 14px;
}
.modlist ul {
	margin: 0px; padding: 0px;
}
.modlist2 {
	text-align: left; padding-top: 10px; font-size: 14px;
}
.modlist2 ul {
	margin: 0px; padding: 0px;
}
.modlist2 li {
	background: url("http://pubimage.360doc.com/wz/wz14.gif") no-repeat 0px 12px; margin: 0px; padding: 0px 0px 0px 12px; width: 280px; height: 26px; line-height: 26px; overflow: hidden; clear: both; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.modlist3 {
	text-align: left; padding-top: 10px; font-size: 12px;
}
.modlist3 ul {
	margin: 0px; padding: 0px;
}
.modlist3 li {
	background: url("http://pubimage.360doc.com/wz/wz14.gif") no-repeat 0px 10px; margin: 0px; padding: 0px 0px 0px 12px; height: 24px; line-height: 24px; clear: both;
}
.titwx1 {
	padding: 0px 2px; height: 22px; color: rgb(82, 82, 82); font-size: 14px; font-weight: bold; border-bottom-color: rgb(255, 120, 0); border-bottom-width: 1px; border-bottom-style: solid; position: absolute;
}
.titwx {
	height: 20px; color: rgb(70, 70, 70); font-size: 14px; font-weight: bold;
}
.pageqh {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(228, 228, 228) rgb(228, 228, 228); width: 248px; height: 215px; text-align: left; background-color: rgb(251, 251, 251);
}
.pageqh .nav {
	width: 248px; font-size: 14px; float: left;
}
.pageqh .nav span {
	background: rgb(251, 251, 251); height: 34px; text-align: center; color: rgb(44, 52, 55); line-height: 34px; border-top-color: rgb(228, 228, 228); border-top-width: 1px; border-top-style: solid; float: left; cursor: pointer;
}
.pageqh .nav span.checked {
	background: rgb(255, 255, 255); font-weight: bold; border-top-color: rgb(255, 124, 18); border-top-width: 2px; border-top-style: solid; position: relative;
}
.pageqh .mokuaicontent {
	width: 248px; height: 1px; line-height: 0px; margin-top: -1px; border-top-color: rgb(228, 228, 228); border-top-width: 1px; border-top-style: solid; float: left;
}
.plbox {
	width: 670px; height: 175px; background-color: rgb(250, 250, 250);
}
.plmain {
	padding: 15px 20px;
}
.deluwx {
	height: 65px; text-align: center; color: rgb(98, 98, 98); padding-top: 32px; font-size: 14px;
}
.deluwx span {
	font-weight: bold;
}
.wenzhang_pl_box {
	margin: 5px 0px 20px; width: 655px; text-align: left; clear: both;
}
.wenzhang_pl_right {
	width: 588px; text-align: left; float: left;
}
.timewenzi {
	color: rgb(132, 132, 132); padding-left: 7px;
}
.pl_con {
	margin: 5px 0px 0px 8px; width: 580px; line-height: 25px; padding-top: 7px; padding-bottom: 7px; clear: both; font-size: 14px; -ms-word-wrap: break-word;
}
.revlace {
	height: 20px; color: rgb(45, 126, 173); padding-top: 3px; padding-left: 8px; vertical-align: top;
}
.iehight {
	height: 7px; _height: 0px;
}
.plskuai {
	height: 26px; line-height: 26px; padding-left: 8px; background-color: rgb(250, 250, 250);
}
.yeschu {
	color: rgb(44, 153, 0); font-weight: bold;
}
.nochu {
	color: rgb(205, 71, 0); font-weight: bold;
}
.pl_consmall {
	margin: 5px 0px 0px 8px; line-height: 25px; padding-top: 7px; padding-bottom: 7px; clear: both; font-size: 14px; -ms-word-wrap: break-word;
}
.pingrig {
	padding-right: 15px;
}
.pltit {
	height: 36px;
}
.sharelink {
	
}
.sharelink a:link {
	color: rgb(106, 106, 106); text-decoration: none;
}
.sharelink a:visited {
	color: rgb(106, 106, 106); text-decoration: none;
}
.sharelink a:hover {
	color: rgb(59, 107, 169); text-decoration: none;
}
.fenxiang {
	border: 1px solid rgb(203, 203, 203); width: 108px; height: 150px; text-align: left; font-size: 12px; margin-top: 9px; margin-left: -40px; position: absolute; background-color: rgb(255, 255, 255);
}
.fenxiang ul {
	
}
.fenxiang li {
	height: 29px; padding-left: 12px; border-bottom-color: rgb(242, 242, 242); border-bottom-width: 1px; border-bottom-style: solid;
}
.fenxiang img {
	padding-right: 5px; vertical-align: text-bottom;
}
.biaoqin {
	border: 1px solid rgb(214, 214, 214); width: 248px; height: 180px; margin-top: 30px; margin-left: 0px; background-color: rgb(255, 255, 255);
}
.biaoqinpic {
	padding-top: 10px; padding-left: 10px; clear: both;
}
.biaoqinpic ul {
	
}
.biaoqinpic li {
	height: 32px; background-image: none;
}
.biaoqinpic img {
	margin: 0px; padding: 2px;
}
.guanbiwz2 {
	padding-top: 9px; padding-right: 14px;
}
.guanbiwz3 {
	color: rgb(77, 77, 77); font-size: 12px; font-weight: bold; float: left;
}
.faxin {
	border: 1px solid rgb(201, 201, 201); width: 328px; height: 161px; color: rgb(0, 0, 0); line-height: 16px; font-size: 12px; -ms-overflow-y: auto; background-color: rgb(255, 255, 255);
}
.guanbiwz111 {
	color: rgb(77, 77, 77); padding-top: 9px; padding-left: 16px; font-size: 12px; font-weight: bold; float: left;
}
.highlight {
	background-color: rgb(255, 255, 0);
}
.sticky {
	color: rgb(70, 110, 166); text-decoration: underline; background-color: rgb(227, 237, 248);
}
.closedivdragenable {
	width: 312px; height: 16px; text-align: left; text-indent: 10px; padding-top: 10px; background-image: url("http://pubimage.360doc.com/lay_bg.gif");
}
.stickyitem {
	width: 310px; height: 20px;
}
.stickytext {
	width: 310px;
}
.box_1 {
	border: 1px solid rgb(161, 192, 223); background-color: rgb(231, 243, 251);
}
.box_6 {
	border: 1px solid rgb(169, 169, 169); background-color: rgb(255, 255, 255);
}
.wenzhang_pl_left {
	width: 57px; height: 70px; text-align: left;
}
.index_main {
	margin: 0px auto; padding-top: 10px;
}
.login_box_font {
	text-align: left; color: rgb(128, 128, 0); font-size: 14px; font-weight: bold;
}
.spanCgCgLink {
	color: rgb(24, 72, 181);
}
.spanCgCgLinkOnMouseOver {
	color: rgb(24, 72, 181); text-decoration: underline; cursor: pointer;
}
.spanCgCgLinkOnMouseOut {
	color: rgb(24, 72, 181); text-decoration: none;
}
#divemail td {
	line-height: 26px; font-size: 14px;
}
.mzbodl {
	font-weight: bold;
}
.revlace a:link {
	color: rgb(61, 107, 167); text-decoration: none;
}
.revlace a:visited {
	color: rgb(61, 107, 167); text-decoration: none;
}
.revlace a:hover {
	color: rgb(61, 107, 167); text-decoration: underline;
}
.wenzhang_pl_boxsmall {
	margin: 26px 0px 15px; width: 580px; text-align: left; padding-left: 16px; clear: both;
}
.wenzhang_pl_rightsmall {
	width: 512px; text-align: left; padding-left: 8px; float: left;
}
.revacediv {
	width: 597px; text-align: left; clear: both;
}
.revacextdiv {
	width: 597px; height: 2px;
}
#fullbg {
	left: 0px; top: 0px; display: none; position: absolute; z-index: 3; opacity: 0.4; background-color: gray; -moz-opacity: 0.4;
}
#dialog {
	width: 500px; height: 310px; display: none; position: absolute; z-index: 10000;
}
.loginnewdiv {
	width: 351px; color: rgb(109, 109, 109); padding-left: 16px;
}
.guanbi {
	width: 48px; float: right;
}
.guanbidiv {
	height: 38px; padding-top: 9px;
}
.backgroundDivIe {
	position: absolute; z-index: 9; opacity: 0.3; background-color: rgb(0, 0, 0);
}
.paixucssright {
	padding-top: 8px; padding-left: 4px; float: left;
}
.bjyellow2 {
	line-height: 26px; padding-left: 6px; cursor: pointer; background-color: rgb(254, 249, 209);
}
.bjwhite2 {
	line-height: 26px; padding-left: 6px; cursor: pointer; background-color: rgb(255, 255, 247);
}
.logininputanew {
	padding: 8px 5px; border: 1px solid rgb(238, 238, 238); width: 198px; height: 18px; color: rgb(178, 178, 178); line-height: 24px; font-size: 12px;
}
.ggwz {
	color: rgb(255, 255, 255); padding-right: 2px; padding-left: 3px; margin-top: -15px; position: absolute; background-color: rgb(154, 154, 154);
}
.ggwz a:link {
	color: rgb(255, 255, 255); text-decoration: none;
}
.ggwz a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.ggwz a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.zcbutton {
	margin-top: -10px; margin-left: 30px; position: absolute;
}
.addtionone {
	color: rgb(204, 79, 79); font-size: 22px; font-weight: bold; margin-top: -62px; margin-left: 50px; display: none; position: absolute;
}
#goTop2 {
	width: 131px; text-align: left; bottom: 30px; position: fixed; z-index: 10; _position: absolute;
}
#goTop {
	width: 50px; height: 50px;
}
#goTop1 {
	width: 50px; height: 50px;
}
#goTop3 {
	width: 50px; height: 50px;
}
#goTop #go_top {
	overflow: hidden; float: left; cursor: pointer; background-image: url("http://pubimage.360doc.com/wz/wz26.gif");
}
#goTop #go_top:hover {
	overflow: hidden; float: left; cursor: pointer; background-image: url("http://pubimage.360doc.com/wz/wz26.gif");
}
#goTop #go_top {
	width: 50px; height: 50px;
}
#goTop #go_top:hover {
	background-image: url("http://pubimage.360doc.com/wz/wzgo1.gif");
}
#goTop1 #go_top1 {
	overflow: hidden; float: left; cursor: pointer; background-image: url("http://pubimage.360doc.com/wz/wzgo3.gif");
}
#goTop1 #go_top1:hover {
	overflow: hidden; float: left; cursor: pointer; background-image: url("http://pubimage.360doc.com/wz/wzgo3.gif");
}
#goTop1 #go_top1 {
	width: 50px; height: 49px;
}
#goTop3 #go_top3 {
	width: 50px; height: 49px;
}
#goTop3 #go_top3 {
	overflow: hidden; float: left; cursor: pointer; background-image: url("http://pubimage.360doc.com/wz/wzgo2.gif");
}
#goTop3 #go_top3:hover {
	overflow: hidden; float: left; cursor: pointer; background-image: url("http://pubimage.360doc.com/wz/wzgo2.gif");
}
.lswz {
	width: 330px; height: 287px; background-color: rgb(250, 250, 250);
}
.lstwtop {
	padding-top: 13px; padding-right: 13px; padding-left: 19px;
}
.lswztit {
	height: 22px; border-bottom-color: rgb(220, 220, 220); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.twentit {
	width: 114px; line-height: 18px; padding-top: 4px;
}
.huifuxt {
	background: url("http://pubimage.360doc.com/wz/wz17.gif") repeat-x top rgb(250, 250, 250); width: 584px; height: 148px; margin-left: 8px;
}
.remenwz {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(228, 228, 228) rgb(228, 228, 228); width: 247px; padding-bottom: 10px; background-color: rgb(251, 251, 251);
}
.rementop {
	height: 34px; border-top-color: rgb(255, 124, 16); border-top-width: 2px; border-top-style: solid; background-color: rgb(255, 255, 255);
}
.sekuaibox {
	margin: 5px 0px 0px 60px; border: 1px solid rgb(203, 203, 203); width: 146px; height: 35px; position: absolute; background-color: rgb(255, 255, 255);
}
.sekuaibox img {
	padding-left: 6px;
}
.wztopxx {
	width: 670px; height: 35px; color: rgb(119, 123, 122); padding-left: 26px;
}
.btzctsg {
	padding-right: 6px; padding-left: 10px;
}
.danxunbt {
	padding-left: 8px;
}
.danxunwz {
	padding-top: 2px;
}
.checkbox {
	margin-top: 0px; vertical-align: middle;
}
.dlinputwz {
	width: 60px; padding-top: 9px; padding-left: 10px;
}
.hezuodiv {
	padding-top: 14px; padding-left: 78px;
}
.zddenglu {
	padding-top: 9px; padding-left: 13px;
}
.gzbt1 {
	width: 48px; height: 22px;
}
.gzbt1 a:link {
	background: url("http://pubimage.360doc.com/wz/wz19.gif") no-repeat; width: 48px; height: 22px; display: block;
}
.gzbt1 a:visited {
	background: url("http://pubimage.360doc.com/wz/wz19.gif") no-repeat; width: 48px; height: 22px; display: block;
}
.gzbt1 a:hover {
	background-image: url("http://pubimage.360doc.com/wz/wz19a.gif");
}
.gzbt2 {
	width: 48px; height: 22px;
}
.gzbt2 a:link {
	background: url("http://pubimage.360doc.com/wz/wz20.gif") no-repeat; width: 48px; height: 22px; display: block;
}
.gzbt2 a:visited {
	background: url("http://pubimage.360doc.com/wz/wz20.gif") no-repeat; width: 48px; height: 22px; display: block;
}
.gzbt2 a:hover {
	background-image: url("http://pubimage.360doc.com/wz/wz20a.gif");
}
.zscbt {
	width: 152px; height: 39px;
}
.zscbt a:link {
	background: url("http://pubimage.360doc.com/wz/wzsavebg.gif") no-repeat; width: 152px; height: 39px; text-decoration: none; display: block; cursor: pointer;
}
.zscbt a:visited {
	background: url("http://pubimage.360doc.com/wz/wzsavebg.gif") no-repeat; width: 152px; height: 39px; text-decoration: none; display: block; cursor: pointer;
}
.zscbt a:hover {
	background-image: url("http://pubimage.360doc.com/wz/wzsavebga.gif");
}
.xianhua2 {
	height: 39px; color: rgb(255, 255, 255); line-height: 39px; font-size: 12px; font-weight: bold;
}
.huifubt {
	width: 81px; height: 28px; float: right;
}
.huifubt a:link {
	background: url("http://pubimage.360doc.com/wz/wz18.gif") no-repeat; width: 81px; height: 28px; display: block;
}
.huifubt a:visited {
	background: url("http://pubimage.360doc.com/wz/wz18.gif") no-repeat; width: 81px; height: 28px; display: block;
}
.huifubt a:hover {
	background-image: url("http://pubimage.360doc.com/wz/wz18a.gif");
}
.huifubt2 {
	width: 81px; height: 28px; float: right;
}
.huifubt2 a:link {
	background: url("http://pubimage.360doc.com/wz/wz24.gif") no-repeat; width: 81px; height: 28px; display: block;
}
.huifubt2 a:visited {
	background: url("http://pubimage.360doc.com/wz/wz24.gif") no-repeat; width: 81px; height: 28px; display: block;
}
.huifubt2 a:hover {
	background-image: url("http://pubimage.360doc.com/wz/wz24a.gif");
}
.zswdbt {
	width: 111px; height: 22px;
}
.zswdbt a:link {
	background: url("http://pubimage.360doc.com/wz/zcbt.gif") no-repeat; width: 111px; height: 22px; display: block;
}
.zswdbt a:visited {
	background: url("http://pubimage.360doc.com/wz/zcbt.gif") no-repeat; width: 111px; height: 22px; display: block;
}
.zswdbt a:hover {
	background-image: url("http://pubimage.360doc.com/wz/zcbta.gif");
}
.denglubt {
	width: 104px; height: 36px;
}
.denglubt a:link {
	background: url("http://pubimage.360doc.com/wz/wz21.gif") no-repeat; width: 104px; height: 36px; display: block;
}
.denglubt a:visited {
	background: url("http://pubimage.360doc.com/wz/wz21.gif") no-repeat; width: 104px; height: 36px; display: block;
}
.denglubt a:hover {
	background-image: url("http://pubimage.360doc.com/wz/wz21a.gif");
}
.gzbt2 {
	width: 48px; height: 22px;
}
.gzbt2 a:link {
	background: url("http://pubimage.360doc.com/wz/wz20.gif") no-repeat; width: 48px; height: 22px; display: block;
}
.gzbt2 a:visited {
	background: url("http://pubimage.360doc.com/wz/wz20.gif") no-repeat; width: 48px; height: 22px; display: block;
}
.xiugai {
	width: 56px; height: 22px;
}
.xiugai a:link {
	background: url("http://pubimage.360doc.com/wz/xiugai.gif") no-repeat; width: 56px; height: 22px; display: block;
}
.xiugai a:visited {
	background: url("http://pubimage.360doc.com/wz/xiugai.gif") no-repeat; width: 56px; height: 22px; display: block;
}
.xiugai a:hover {
	background-image: url("http://pubimage.360doc.com/wz/xiugaia.gif");
}
.txtbox {
	padding: 2px 5px; border: 1px solid rgb(212, 212, 212); width: 335px; height: 100px; color: rgb(128, 128, 128); line-height: 20px; overflow: auto; font-size: 12px;
}
.quding {
	background: url("http://pubimage.360doc.com/wz/button1.gif") no-repeat; width: 80px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; cursor: pointer;
}
.xuxiao {
	background: url("http://pubimage.360doc.com/wz/button2.gif") no-repeat; width: 80px; height: 30px; text-align: center; color: rgb(85, 85, 85); line-height: 30px; cursor: pointer;
}
.txtinput {
	padding: 5px 10px; border: 1px solid rgb(212, 212, 212); width: 297px; height: 18px; color: rgb(116, 116, 116); line-height: 18px; font-size: 14px;
}
.sinputwz {
	height: 37px; color: rgb(177, 177, 177); padding-top: 6px; font-size: 12px;
}
.pizhu {
	background: url("http://pubimage.360doc.com/wz/biaozhubg1.png") no-repeat; padding: 5px; width: 116px; height: 112px; text-align: center; color: rgb(28, 28, 28);
}
.bjbiaoji1 {
	height: 30px; line-height: 30px; margin-top: 1px; cursor: pointer;
}
.bjbiaoji2 {
	height: 30px; line-height: 30px; cursor: pointer;
}
.pizhu2 {
	background: url("http://pubimage.360doc.com/wz/biaozhubg2.png") no-repeat; padding: 4px; width: 116px; height: 61px; text-align: center; color: rgb(28, 28, 28);
}
.pop_content3 {
	background: url("http://pubimage.360doc.com/wz/wz23.gif") repeat-x rgb(255, 255, 255); border-radius: 4px; border: 4px solid rgb(142, 142, 142); width: 304px; text-align: left; position: absolute; z-index: 200; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.puzhusmll {
	height: 20px; padding-top: 8px;
}
.pizhucool {
	padding: 0px 9px; color: rgb(65, 65, 65);
}
.pizhudt {
	padding-top: 12px; padding-left: 4px; border-top-color: rgb(239, 239, 239); border-top-width: 1px; border-top-style: solid;
}
.pizhbot {
	height: 34px; padding-top: 6px; background-color: rgb(248, 248, 248);
}
.tjpz {
	background: url("http://pubimage.360doc.com/wz/wz23.gif") repeat-x; height: 26px; padding-top: 7px; border-top-color: rgb(216, 216, 216); border-top-width: 1px; border-top-style: solid;
}
.pztxtbox {
	padding: 5px 10px; border: currentColor; width: 284px; height: 102px; color: rgb(162, 162, 162); line-height: 18px; overflow: auto; font-size: 12px;
}
.tjpzsl {
	width: 67px; float: right;
}
.qudinga {
	background: url("http://pubimage.360doc.com/wz/button1a.gif") no-repeat; width: 80px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; cursor: pointer;
}
.xuxiaoa {
	background: url("http://pubimage.360doc.com/wz/button2a.gif") no-repeat; width: 80px; height: 30px; text-align: center; color: rgb(85, 85, 85); line-height: 30px; cursor: pointer;
}
.pop_content2 {
	border: 1px solid rgb(216, 216, 216); width: 620px; height: 378px; text-align: left; background-color: rgb(248, 248, 248);
}
.tcengtop {
	height: 60px; padding-top: 17px; padding-right: 15px; padding-left: 20px;
}
.tcengmid {
	height: 26px; text-align: center; padding-top: 26px;
}
.titwx3 {
	height: 22px; color: rgb(82, 82, 82); padding-top: 4px; padding-left: 7px; font-size: 14px; font-weight: bold;
}
.xhmainbox {
	background: url("http://pubimage.360doc.com/wz/wzxiahuabeijing.gif") no-repeat; width: 100px; height: 39px;
}
.xhmainboxa {
	background: url("http://pubimage.360doc.com/wz/wzxiahuabeijinga.gif") no-repeat; width: 100px; height: 39px;
}
.pizhu3 {
	background: url("http://pubimage.360doc.com/wz/biaozhubg3.png") no-repeat; padding: 5px; width: 114px; height: 33px; text-align: center; color: rgb(28, 28, 28);
}
.share-bar-btn .bds_weixin {
	background: url("http://pubimage.360doc.com/wz/weixin.gif") no-repeat; width: 90px; height: 16px; line-height: 16px; font-size: 12px;
}
.bds_weixin1 {
	background: url("http://pubimage.360doc.com/wz/weixin.gif") no-repeat; width: 16px; height: 16px; line-height: 16px; font-size: 12px;
}
.share-bar-btn2 .bds_weixin {
	background-position: 0px -128px !important;
}
.share-bar-btn2 a.bds_weixin:hover {
	background-position: 0px -128px !important; opacity: 1 !important;
}
.weixinbox {
	border-radius: 4px; width: 459px; height: 347px; background-color: rgb(255, 255, 255); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.chacha {
	height: 27px; text-align: right; padding-top: 15px; padding-right: 19px;
}
.weixinwz {
	text-align: center; color: rgb(140, 140, 140); font-size: 14px; font-weight: bold;
}
.chaa a:link {
	background: url("http://pubimage.360doc.com/wz/cha2.gif") no-repeat; width: 14px; height: 14px; display: block;
}
.chaa a:visited {
	background: url("http://pubimage.360doc.com/wz/cha2.gif") no-repeat; width: 14px; height: 14px; display: block;
}
.chaa a:hover {
	background: url("http://pubimage.360doc.com/wz/cha1a.gif") no-repeat;
}
.tuijianpy {
	border-radius: 4px; border: 4px solid rgb(142, 142, 142); width: 370px; height: 354px; text-align: left; background-color: rgb(255, 255, 255); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.cengbj {
	background: url("http://pubimage.360doc.com/cengbj.gif") repeat-x; height: 33px;
}
.cengleft {
	color: rgb(77, 77, 77); line-height: 32px; padding-left: 16px; font-size: 14px; font-weight: bold; float: left;
}
.chas a:link {
	background: url("http://pubimage.360doc.com/chas.gif") no-repeat; width: 10px; height: 9px; display: block;
}
.chas a:visited {
	background: url("http://pubimage.360doc.com/chas.gif") no-repeat; width: 10px; height: 9px; display: block;
}
.chas a:hover {
	width: 10px; height: 9px; display: block; background-image: url("http://pubimage.360doc.com/chasa.gif"); background-repeat: no-repeat;
}
.loginnew {
	width: 280px; text-align: left; padding-top: 8px; padding-left: 57px; float: left;
}
.newwddivtop {
	height: 55px; text-align: left; color: rgb(82, 82, 82); padding-top: 13px; padding-left: 4px; font-size: 14px;
}
.newwdleft {
	width: 459px; padding-top: 13px; float: left;
}
.newwdfont {
	padding-left: 9px; font-weight: bold;
}
.newwdwz2 {
	color: rgb(252, 91, 0); font-size: 12px;
}
.newwdwz1 {
	color: rgb(0, 0, 0); padding-top: 5px; font-size: 12px;
}
.sharelink a:link {
	color: rgb(106, 106, 106); text-decoration: none;
}
.sharelink a:visited {
	color: rgb(106, 106, 106); text-decoration: none;
}
.sharelink a:hover {
	color: rgb(59, 107, 169); text-decoration: none;
}
.sharelink {
	line-height: 29px;
}
.biaoti3 {
	color: rgb(93, 157, 35); font-size: 18px; font-weight: normal;
}
.fxwxbt {
	width: 121px; height: 39px;
}
.fxwxbt a:link {
	background: url("http://pubimage.360doc.com/wz/wzweixinbg.gif") no-repeat; width: 121px; height: 39px; text-decoration: none; display: block; cursor: pointer;
}
.fxwxbt a:visited {
	background: url("http://pubimage.360doc.com/wz/wzweixinbg.gif") no-repeat; width: 121px; height: 39px; text-decoration: none; display: block; cursor: pointer;
}
.fxwxbt a:hover {
	background-image: url("http://pubimage.360doc.com/wz/wzweixinbga.gif");
}
.fxwx2bt {
	width: 104px; height: 27px;
}
.fxwx2bt a:link {
	background: url("http://pubimage.360doc.com/wz/fenxiangweixin.gif") no-repeat; width: 104px; height: 27px; display: block;
}
.fxwx2bt a:visited {
	background: url("http://pubimage.360doc.com/wz/fenxiangweixin.gif") no-repeat; width: 104px; height: 27px; display: block;
}
.fxwx2bt a:hover {
	background-image: url("http://pubimage.360doc.com/wz/fenxiangwenxin_a.gif");
}
.zswdbtn1 {
	width: 143px; height: 27px;
}
.zswdbtn1 a:link {
	background: url("http://pubimage.360doc.com/wz/zhuanc.gif") no-repeat; width: 133px; height: 27px; display: block;
}
.zswdbtn1 a:visited {
	background: url("http://pubimage.360doc.com/wz/zhuanc.gif") no-repeat; width: 133px; height: 27px; display: block;
}
.zswdbtn1 a:hover {
	background-image: url("http://pubimage.360doc.com/wz/zhuanc_a.gif");
}
.xiugai2 {
	width: 65px; height: 27px;
}
.xiugai2 a:link {
	background: url("http://pubimage.360doc.com/wz/xiugai2.gif") no-repeat; width: 65px; height: 27px; display: block;
}
.xiugai2 a:visited {
	background: url("http://pubimage.360doc.com/wz/xiugai2.gif") no-repeat; width: 65px; height: 27px; display: block;
}
.xiugai2 a:hover {
	background-image: url("http://pubimage.360doc.com/wz/xiugai2_a.gif");
}
.shangtishi_pt {
	width: 300px; height: 48px; text-align: center; line-height: 24px; margin-top: 30px;
}
.erjibt_li {
	background: url("http://pubimage.360doc.com/wz/xianbg.gif") no-repeat; width: 86px; height: 28px; color: rgb(255, 255, 255); cursor: pointer;
}
.erjibta_li {
	width: 86px; height: 28px; color: rgb(255, 255, 255); cursor: pointer;
}
.erjibtgray_li {
	cursor: pointer;
}
.erjibtgraya_li {
	cursor: pointer;
}
.tishi-box1 {
	color: rgb(73, 73, 73); padding-left: 30px; font-size: 14px;
}
.tishi-wz1 {
	color: rgb(42, 42, 42); clear: both;
}
.btwz {
	text-align: center; color: rgb(102, 102, 102); line-height: 28px; font-size: 12px;
}
.ywzwbt {
	width: 121px; height: 39px;
}
.ywzwbt a:link {
	background: url("http://pubimage.360doc.com/wz/wzsearchbg.gif") no-repeat; width: 121px; height: 39px; text-decoration: none; display: block; cursor: pointer;
}
.ywzwbt a:visited {
	background: url("http://pubimage.360doc.com/wz/wzsearchbg.gif") no-repeat; width: 121px; height: 39px; text-decoration: none; display: block; cursor: pointer;
}
.ywzwbt a:hover {
	background-image: url("http://pubimage.360doc.com/wz/wzsearchbga.gif");
}
.ytdh1 {
	width: 81px; height: 22px;
}
.ytdh1 a:link {
	background: url("http://pubimage.360doc.com/wz/yutaduihua.gif") no-repeat; width: 81px; height: 22px; display: block;
}
.ytdh1 a:visited {
	background: url("http://pubimage.360doc.com/wz/yutaduihua.gif") no-repeat; width: 81px; height: 22px; display: block;
}
.ytdh1 a:hover {
	background-image: url("http://pubimage.360doc.com/wz/yutaduihua_a.gif");
}
.modlist2_re {
	text-align: left; padding-top: 17px; font-size: 14px;
}
.paixu_big {
	width: 298px; height: 30px; text-align: left; color: rgb(59, 110, 167); overflow: hidden; vertical-align: top;
}
.paixu_li {
	background: rgb(245, 130, 32); width: 14px; height: 14px; text-align: center; color: rgb(255, 255, 255); font-size: 12px; float: left;
}
.paixu_li2 {
	background: rgb(211, 211, 211); width: 14px; height: 14px; text-align: center; color: rgb(255, 255, 255); font-size: 12px; float: left;
}
.paixu_info {
	width: 268px; height: 14px; text-align: left; margin-left: 5px; float: left;
}
.guanbt {
	background: url("http://pubimage.360doc.com/wz/guan.gif") no-repeat; height: 15px; line-height: 16px; padding-left: 20px;
}
.clo1 {
	color: rgb(148, 148, 148);
}
.clo2 {
	color: rgb(38, 38, 38);
}
.rwmswz {
	color: rgb(151, 151, 151); font-size: 12px;
}
.rwmswzt {
	color: rgb(25, 25, 25); font-weight: bold;
}
.rwmswzms {
	color: rgb(55, 55, 55);
}
.remsnbox {
	text-align: left; line-height: 24px; font-size: 14px;
}
.r_wx {
	margin-top: -134px; margin-left: -217px; position: absolute; z-index: 2001;
}
.r_hdimg {
	text-align: left; padding-top: 5px; clear: both; position: relative;
}
.r_hdxx {
	top: 6px; right: 1px; position: absolute;
}
.appcha {
	right: 0px; bottom: 0px; position: absolute;
}
.appma {
	left: -223px; top: -68px; position: absolute;
}
.jb_x {
	padding-top: 11px; padding-right: 20px;
}
.jb_wz {
	height: 60px; line-height: 24px; font-size: 14px;
}
.jb_eml {
	padding: 8px 5px; border: 1px solid rgb(212, 212, 212); width: 335px; height: 14px; color: rgb(128, 128, 128); line-height: 24px; font-size: 12px;
}
.jb_w2 {
	height: 32px; color: rgb(177, 177, 177); padding-top: 5px;
}
.jb_xing {
	color: rgb(222, 44, 44); font-size: 22px;
}
.jb_cg {
	padding-top: 100px; padding-left: 137px; font-size: 14px; font-weight: bold;
}
.jb_w3 {
	color: rgb(120, 120, 120); line-height: 24px; padding-top: 11px; padding-left: 77px;
}
.dsftb {
	margin: 0px 5px; width: 28px; height: 28px; float: left; display: block; background-image: url("http://pubimage.360doc.com/index/sf28.png"); background-repeat: no-repeat; _background-image: url(http://pubimage.360doc.com/index/sf28.gif);
}
.sf1 {
	
}
.sf2 {
	background-position: 0px -28px;
}
.sf3 {
	background-position: 0px -56px;
}
.dsfwz {
	color: rgb(146, 146, 146); line-height: 28px; float: left; display: block;
}
