.lan a:link {
	color: rgb(45, 96, 159); text-decoration: none;
}
.lan a:visited {
	color: rgb(45, 96, 159); text-decoration: none;
}
.lan a:hover {
	color: rgb(45, 96, 159); text-decoration: underline;
}
.name a:link {
	color: rgb(88, 134, 0); text-decoration: none;
}
.name a:visited {
	color: rgb(88, 134, 0); text-decoration: none;
}
.name a:hover {
	color: rgb(88, 134, 0); text-decoration: underline;
}
.mainnav {
	width: 100%; height: 36px; min-width: 1000px; background-color: rgb(241, 241, 241);
}
.mainnav1 {
	margin: 0px auto; width: 1000px; text-align: left;
}
.navwz1 {
	text-align: center; color: rgb(95, 95, 95); padding-top: 4px; font-size: 16px; font-weight: bold; cursor: pointer;
}
.navxt {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(255, 255, 255) currentColor currentColor; width: 100%; height: 15px; text-align: left; margin-top: -1px; min-width: 1000px; background-image: url("http://pubimage.360doc.com/index/sy-3.gif"); background-repeat: repeat-x;
}
.navwz1 a:link {
	color: rgb(95, 95, 95); text-decoration: none;
}
.navwz1 a:visited {
	color: rgb(95, 95, 95); text-decoration: none;
}
.navwz1 a:hover {
	color: rgb(88, 134, 0); text-decoration: none;
}
.serch {
	width: 187px; height: 25px; background-image: url("http://pubimage.360doc.com/index/sy-21.gif"); background-repeat: no-repeat;
}
.serchpt {
	margin: 1px 0px 0px 2px; padding: 2px; border: 1px solid rgb(255, 255, 255); width: 173px; height: 16px; text-align: left; color: rgb(178, 178, 178); line-height: 16px; font-size: 12px; background-color: rgb(255, 255, 255);
}
.ssuo {
	width: 37px; height: 25px; float: left;
}
.ssuo a:link {
	width: 37px; height: 25px; display: block; background-image: url("http://pubimage.360doc.com/newsite/sousuo.gif"); background-repeat: no-repeat;
}
.ssuo a:visited {
	width: 37px; height: 25px; display: block; background-image: url("http://pubimage.360doc.com/newsite/sousuo.gif"); background-repeat: no-repeat;
}
.ssuo a:hover {
	width: 37px; height: 25px; display: block; background-image: url("http://pubimage.360doc.com/newsite/sousuo_a.gif"); background-repeat: no-repeat;
}
.denglbj {
	width: 131px; height: 25px; line-height: 25px; float: right; background-image: url("http://pubimage.360doc.com/index/sy-30.gif"); background-repeat: no-repeat;
}
.denglbj1 {
	width: 114px; height: 25px; line-height: 25px; float: right; background-image: url("http://pubimage.360doc.com/index/sy-3011.gif"); background-repeat: no-repeat;
}
.lan2 a:link {
	color: rgb(45, 96, 159); text-decoration: none;
}
.lan2 a:visited {
	color: rgb(45, 96, 159); text-decoration: none;
}
.lan2 a:hover {
	color: rgb(45, 96, 159); text-decoration: none;
}
.denglbj2 {
	width: 131px; height: 25px; line-height: 25px; float: right; background-image: url("http://pubimage.360doc.com/index/sy-31.gif"); background-repeat: no-repeat;
}
.denglbj3 {
	width: 131px; height: 25px; line-height: 25px; float: right; background-image: url("http://pubimage.360doc.com/index/sy-32.gif"); background-repeat: no-repeat;
}
.boxwid {
	width: 45px; text-align: center; float: left; _width: 44px;
}
.tipzhu3 {
	border: 1px solid rgb(212, 212, 212); width: 94px; margin-top: -1px; z-index: 0; background-color: rgb(255, 255, 255);
}
.tipzhu3 ul {
	margin: 0px; padding: 0px;
}
.tipzhu3 li {
	margin: 0px; padding: 0px 0px 0px 13px; height: 27px; line-height: 27px;
}
.tugduo3 {
	width: 37px; position: relative; z-index: 100;
}
.xinngdui {
	width: 40px; padding-top: 7px; position: relative; z-index: 2000000;
}
.zhhaocss {
	width: 96px; padding-top: 27px; margin-left: 104px; position: absolute;
}
.zhhaobox {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(212, 212, 212) rgb(212, 212, 212) currentColor; width: 50px; height: 26px; position: relative; z-index: 2000000; background-color: rgb(255, 255, 255);
}
.zhhaobox1 {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor; width: 50px; height: 24px;
}
.hui2 li a:link {
	color: rgb(102, 102, 102); text-decoration: none;
}
.hui2 li a:visited {
	color: rgb(102, 102, 102); text-decoration: none;
}
.hui2 li a:hover {
	color: rgb(102, 102, 102); text-decoration: none;
}
.serchboxx {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(202, 202, 202) rgb(202, 202, 202); width: 185px; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255);
}
.paixucssright {
	padding-top: 8px; padding-left: 4px; float: left;
}
.bjyellow2 {
	line-height: 26px; padding-left: 6px; cursor: pointer; background-color: rgb(254, 249, 209);
}
.bjwhite2 {
	line-height: 26px; padding-left: 6px; cursor: pointer; background-color: rgb(255, 255, 247);
}
.tugduo {
	border-width: 1px; border-style: solid; border-color: rgb(212, 212, 212) rgb(212, 212, 212) rgb(255, 255, 255); width: 32px; height: 26px; margin-right: 8px; position: relative; z-index: 100;
}
.tipzhu {
	border: 1px solid rgb(212, 212, 212); width: 94px; margin-top: -1px; margin-right: 7px; z-index: 0; background-color: rgb(255, 255, 255);
}
.tipzhu2 {
	width: 180px;
}
.tipzhu ul {
	margin: 0px; padding: 0px;
}
.tipzhu li {
	margin: 0px; padding: 0px 5px 0px 10px; height: 27px; line-height: 27px;
}
.tipzhua {
	border: 1px solid rgb(212, 212, 212); width: 85px; margin-top: -1px; z-index: 0; background-color: rgb(255, 255, 255);
}
.tipzhua ul {
	margin: 0px; padding: 0px;
}
.tipzhua li {
	margin: 0px; padding: 0px 0px 0px 14px; height: 27px; line-height: 27px;
}
.denglbj4 {
	width: 131px; height: 25px; line-height: 25px; float: right; position: absolute; background-image: url("http://pubimage.360doc.com/newsite/11.gif"); background-repeat: no-repeat;
}
.boxwid11 {
	width: 37px; text-align: center; float: left; _width: 36px;
}
.xinngdui11 {
	position: relative; z-index: 2000000;
}
.tugduo4 {
	width: 37px; position: relative; z-index: 100;
}
